@page "/demoEnumsDesired"

<h1>Enums (desired)</h1>
<Serializer ObjectToSerialize="@ToSerialize" />

@code {
public Object ToSerialize { get; private set; }

protected sealed override void OnInit()
{
    ToSerialize = Utils.DemoObjects.Desired.DummyEnums;

    base.OnInit();
}
}
