@page "/demoPerson"

<h1>Typed person</h1>
<Serializer ObjectToSerialize="@ToSerialize" />

@code {
public Object ToSerialize { get; private set; }

protected sealed override void OnInitialized()
{
    ToSerialize = Utils.DemoObjects.DummyPerson;

    base.OnInitialized();
}
}
