@page "/demoArrays"

<h1>Arrays</h1>
<Serializer ObjectToSerialize="@ToSerialize" />

@code {
public Object ToSerialize { get; private set; }

protected sealed override void OnInitialized()
{
    ToSerialize = Utils.DemoObjects.DummyArrays;

    base.OnInitialized();
}
}
