@page "/"

<h1>Inner</h1>
<Serializer ObjectToSerialize="@Inner" />

<h1>Outer</h1>
<Serializer ObjectToSerialize="@Outer"/>

@code {
    public Object Inner { get; private set; }
    public Object Outer { get; private set; }

    protected sealed override void OnInitialized()
    {
        Inner = Utils.DemoObjects.ContainerBug.DummyInnerContainer;
        Outer = Utils.DemoObjects.ContainerBug.DummyOuterContainer;

        base.OnInitialized();
    }
}
