@page "/mockConfigWorkaround"

<h1>Mock config (workaround)</h1>
<Serializer ObjectToSerialize="@ToSerialize" />

@code {
public Object ToSerialize { get; private set; }

protected sealed override void OnInit()
{
    ToSerialize = Utils.DemoObjects.Workaround.DummyBaseConfig;

    base.OnInit();
}
}
