@page "/mockConfigDesired"

<h1>Mock config (desired)</h1>
<Serializer ObjectToSerialize="@ToSerialize" />

@code {
public Object ToSerialize { get; private set; }

protected sealed override void OnInitialized()
{
    ToSerialize = Utils.DemoObjects.Desired.DummyBaseConfig;

    base.OnInitialized();
}
}
